@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin-normal {
    animation: spin .5s infinite linear;
}
.spin-slow {
    animation: spin 2s infinite linear;
}
