.rotate-180 {
    transform: rotate(180deg);
}

.trans\:all {
    transition: all 100ms linear;
}

.trans\:rotate {
    transition: rotate 100ms linear;
}

.trans\:color {
    transition: color 100ms linear;
}

.trans\:bg {
    transition: background-color 100ms linear;
}

// For transition component
.fade-enter-active, .fade-leave-active {
    transition: opacity 5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
